{% extends 'base.html' %}

{% block content %}
    <h3>{{ stock_code }}</h3> 
    <h3>{{ stock_name }}</h3>
    <form method="GET" action="/dart/{{ stock_code }}/all" target="_blank">
        <button>All Data</button>
    </form>
    <ul>
    {% for amount in amounts %}
        <div>
            <li>{{ amount.account_nm_kor }}</li>
            {{ amount.Q202211013 }}
            {{ amount.Q202111011 }}
            {{ amount.Q202111014 }}
            {{ amount.Q202111012 }}
        </div>
    {% endfor %}
    </ul>
{% endblock content %}