{% extends 'index.html' %}

{% block content %}
    <style>
        h3 {
            padding: 14px 20px;
        }
        .quarters:after { clear: both; display: block; content: '' }
        .quarters {
            float: left;
            width: 200px;
            height: 450px;
            position: relative;
            padding: 10px 20px;
            /* border: 2px solid #09c; */
            text-align: left;
        }
        ._filter:after { clear: both; display: block; content: '' }
        ._filter {
            float: left;
            width: 250px;
            height: 450px;
            position: relative;
            top: 0px;
            left: 0px;
            padding: 10px 20px;
            /* border: 2px solid #09c; */
            text-align: left;
        }
        .filtered:after { clear: both; display: block; content: '' }
        .filtered {
            float: left;
            width: 600px;
            position: relative;
            top: 0px;
            left: 0px;
            padding: 10px 20px;
            /* border: 2px solid #09c; */
            text-align: left;
        }
        .button:after { clear: both; display: block; content: '' }
        .button {
            float: left;
            width: 600px;
            position: relative;
            top: 0px;
            left: 0px;
            padding: 10px 20px;
            /* border: 2px solid #09c; */
            text-align: left;
        }
    </style>
    
    <h3>Stock Filter</h3>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="quarters">
            {% for quarter in quarter_form %}
                <div class="quarter_box">{{ quarter }}</div>
            {% endfor %}
        </div>
        <div class="_filter">
            {{ account_form.as_p }}
            {{ ratio_form.as_p }}
        </div>
        <!--<div class="button" id="button_filter" style="display: flex; padding: 14px 7px;/">-->
        <div class="button" id="button_filter">
            <input type="submit" value="Filter">
        </div>
    </form>
    <form method="GET">
        {% csrf_token %}
        <!--<div class="button" id="button_reset" style="display: flex; padding: 14px 7px;/">-->
        <div class="button" id="button_reset">
            <input type="submit" value="Reset">
        </div>
    </form>
    <div class="filtered">
        {% for account, amount in amounts.items %}
            <div>
                <li>
                    {{ account }}
                    {{ "min amount: " }}
                    {{ amount.0 }}
                    {{ "max amount: " }}
                    {{ amount.1 }}
                </li>
            </div>
        {% endfor %}
        {% for ratio, ratio_val in ratios.items %}
            <div>
                <li>
                    {{ ratio }}
                    {{ "min ratio: " }}
                    {{ ratio_val.0 }}
                    {{ "max ratio: " }}
                    {{ ratio_val.1 }}
                </li>
            </div>
        {% endfor %}
    </div>
    <div class="filtered">
        <h4>Filtered Stock Codes</h4>
        {% for stock_code in stock_codes %}
            <p>
                <a href="/dart/{{ stock_code }}" target="blank">{{ stock_code }}</a>
            </p>
        {% endfor %}
    </div>    
{% endblock %}